@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');



body {
    font-family: 'Open Sans', sans-serif;
    color: hsl(243, 87%, 12%)
}

button {
    background-color: hsl(224, 93%, 58%);
    border: solid hsl(224, 93%, 58%);
    border-radius: 3px;
    padding: 7px 50px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;

}

button:hover {
    background-color: hsl(224, 100%, 70%);
    border: solid hsl(224, 100%, 70%);
    box-shadow: hsl(238, 22%, 44%) 0 0 5px 0px;
}

.files,
.productive {
    padding: 0 4%;
}



/* First, Second, Third section text style */
h1,
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2.8em;
    line-height: 1.2em;
    padding-bottom: 20px;
}

p {
    padding-bottom: 20px;
    line-height: 1.7em;
    margin-right: 30%;

}

/* Nav bar styling*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: #fff;
}

.nav_flex {
    display: flex;
    justify-content: space-around;
    margin-right: auto;

}

.nav_flex li {
    padding: 0 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.nav_flex a {
    padding: 10px 25px;
    text-decoration: none;
    color: hsl(243, 87%, 12%);
    transition-property: all;
    transition-duration: 0.5s;
    font-size: 1em;
}

.nav_flex a:hover {
    color: hsl(238, 22%, 44%);
    background-color: hsl(240, 75%, 98%);
    padding: 10px 25px;
    border-radius: 15px;
    transition-property: all;
    transition-duration: 0.5s;
}

.logo {
    padding: 15px 0 0 75px;
    cursor: pointer;
}

/* First section*/
.img_size1 {
    max-width: 750px;
    margin: 0 60px 0 50px;
}

.flex_files {
    padding: 20px 0;
    display: flex;
    align-items: center;
}


#email {
    margin-right: 15px;
    width: 350px;
    padding: 8px 0 8px 6px;
    font-family: 'Open Sans', sans-serif;
}


/* Second section*/
.curve-desktop {
    width: 100%;
    margin: 0;
    position: relative;
    top: 2px;
    overflow: hidden;
    z-index: -1;
}

.curve-mobile {
    display: none;
}

.flex_productive {
    background-color: hsl(240, 75%, 98%);
    margin: 0;
    padding: 20px 0;
    display: flex;
    align-items: center;
}

.img_size2 {
    max-width: 750px;
    margin: 0 60px 0 50px;
    padding-top: 30px;
}

.productive a {
    color: rgb(27, 146, 27);
    text-decoration: none;
    border-bottom: solid 1px rgb(27, 146, 27);

}

.productive a:hover {
    color: rgb(7, 102, 7);
    text-decoration: none;
    border-bottom: solid 1px rgb(7, 102, 7);
}




/*Box styling*/
.box {
    background-color: #fff;
    width: 390px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: rgb(66, 66, 66) 8px 8px 20px 0px;
}


.quote {
    width: 20px;
    margin: 10px 0 5px 20px;
}

.kyle {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 0 20px;
}

.flex_kyle {
    display: flex;
    flex-direction: row;
}

.name {
    display: block;
    font-weight: 700;
}

small {
    font-size: small;
}

.box>p {
    margin: 0 40px 0 20px;
}

/*Thrid section*/

.signUp {
    background-color: hsl(238, 22%, 44%);
    padding: 60px 4%;
    color: #fff;
    display: flex;
    flex-direction: row;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2.3em;
    line-height: 1.2em;
    padding-bottom: 20px;
}

#get_started {
    padding: 10px 90% 10px 6px;
    margin-bottom: 3%;
}

.signUp_flex {
    margin: 30px 0;
}

.early_access {
    max-width: 55%;
}

/* Footer*/

footer {
    background-color: hsl(243, 87%, 12%);
    height: 44vh;

}


.footer_grid {
    margin: 4%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.grid1 {
    grid-column: 1;
    display: flex;
}

.grid1>img {
    width: 14px;
    height: 14px;
    margin-right: 7%;
    margin-top: 1%;
}

.grid2 {
    grid-row: 2;
    display: flex;
}

.grid2>img {
    width: 19px;
    height: 14px;
    margin-right: 5%;
    margin-top: 1.4%;
}

.grid3 {
    grid-column: 2;
    grid-row: 1;
}

.grid4 {
    grid-column: 2;
    grid-row: 2;
}

.grid5 {
    grid-column: 2;
    grid-row: 3;
}

.grid6 {
    grid-column: 2;
    grid-row: 4;
}

.grid7 {
    grid-column: 3;
    grid-row: 1;

}

.grid8 {
    grid-column: 3;
    grid-row: 2;

}

.grid9 {
    grid-column: 3;
    grid-row: 3;
}

.grid10 {
    grid-column: 4;
    grid-row: 2;

}

.grid10>img {
    width: 40px;
    padding: 0 20px;
}

.white {
    color: #fff;

}

a {
    color: #fff;
    text-decoration: none;
}

p>a:hover {
    color: hsl(240, 67%, 84%);

}

.white_logo {
    filter: brightness(0) invert(1);
    padding: 30px 0 0 4%;

}

/*smaller pictures version*/

@media screen and (max-width: 1550px) {

    #email {
        width: 280px;
        padding: 8px 0 8px 6px;
    }

    .email_btn {
        padding: 7px 35px;
    }

}

@media screen and (max-width: 1450px) {

    .img_size1 {
        width: 550px;
        margin: 0 40px 0 30px;
    }

    .img_size2 {
        width: 550px;
        margin: 0 40px 0 30px;
    }

    #get_started {
        padding: 10px 60% 10px 6px;
    }

    .grid10>img {
        width: 40px;
        padding: 0 10px;
    }

    /* First, Second, Third section text style */
    h1,
    h2 {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 2em;
        line-height: 1.2em;
        padding-bottom: 20px;
    }

    p {
        padding-bottom: 20px;
        line-height: 1.7em;
        margin-right: 30%;
    }
}

@media screen and (max-width: 1200px) {
    .img_size1 {
        width: 450px;
        margin: 0 40px 0 20px;
    }

    .img_size2 {
        width: 450px;
        margin: 0 60px 0 20px;
    }

    #get_started {
        padding: 10px 60% 10px 6px;
    }
}

/*tablet screen*/
@media screen and (max-width:1060px) {




    /* Nav */
    .nav_flex {
        display: flex;
        justify-content: space-around;
        margin-right: auto;

    }

    .nav_flex li {
        padding: 0 3px;
        margin-top: 20px;
    }

    .nav_flex a {
        padding: 10px;
    }

    .nav_flex a:hover {
        color: hsl(238, 22%, 44%);
        background-color: hsl(240, 75%, 98%);
        padding: 10px 10px;
        border-radius: 15px;
        transition-property: all;
        transition-duration: 0.5s;
    }

    .logo {
        padding: 25px 0 0 10px;
        cursor: pointer;
        width: 80px;
    }

    /*Text styling*/
    h1 {
        font-size: 1.6em;
        padding: 50px 0 30px;
        text-align: center;
    }



    p {

        padding-bottom: 20px;
        line-height: 1.7em;
        margin: 0 5%;
        text-align: center;
    }

    /* First section*/
    .img_size1 {
        max-width: 350px;
        margin: 0;
    }

    .flex_files {
        margin-top: 100px;
        padding: 20px 0;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: center;
    }


    #email {
        width: 300px;
        padding: 8px 0 8px 6px;
        font-family: 'Open Sans', sans-serif;
        display: block;
        margin: 20px auto;
    }

    .btn1 {
        padding: 7px 114px;
        margin: 0 auto;
        display: block;
    }

    /* Second section*/
    .curve-desktop {
        width: 100%;
        margin: 0;
    }

    .curve-mobile {
        display: none;
    }

    h2 {

        font-size: 1em;
        line-height: 1.2em;
        padding-bottom: 20px;
        text-align: center;
    }

    .flex_productive {

        margin-top: 0;
        padding: 20px 0;
        display: flex;
        flex-direction: column-reverse;
    }

    .img_size2 {
        max-width: 350px;
        margin: 0;


    }

    .productive a {
        color: rgb(27, 146, 27);
        text-decoration: none;
        border-bottom: solid 1px rgb(27, 146, 27);
    }

    .productive a:hover {
        color: rgb(7, 102, 7);
        text-decoration: none;
        border-bottom: solid 1px rgb(7, 102, 7);
    }

    .green_link {
        display: flex;
        justify-content: center;
    }

    /*Box styling*/
    .box {
        background-color: #fff;
        width: 330px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }


    .quote {
        width: 20px;
        margin: 30px 0 10px 40px;
    }

    .kyle {
        width: 40px;
        height: 40px;
        padding: 0;
        margin: 5px 0 0 40px;
        font-size: 0.7em;
    }

    .flex_kyle {
        display: flex;
        flex-direction: row;
    }

    .name {
        display: block;
        font-weight: 700;
    }

    .box>p {

        text-align: left;
        font-size: 0.9em;
        margin: 0 40px 0 40px;
    }

    /*Thrid section*/

    .signUp {
        background-color: hsl(238, 22%, 44%);
        margin: 0 auto;
        color: #fff;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    h3 {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 1.6em;
        line-height: 1.2em;
        padding-bottom: 20px;

    }

    #get_started {
        padding: 10px 30% 10px 6px;
        margin-bottom: 3%;
    }

    .signUp_flex {
        margin: 0;
    }

    .early_access {
        max-width: 100%;
    }

    .btn2 {
        padding: 7px 75px;
    }

    /* Footer*/

    footer {
        background-color: hsl(243, 87%, 12%);
        height: 44vh;

    }


    .footer_grid {

        display: grid;
        grid-template-columns: 1fr 2fr 2fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        text-align: center;
    }

    .grid1 {
        grid-column: 1;
        display: flex;
    }

    .grid1>img {
        width: 14px;
        height: 14px;
        margin-right: 7%;
        margin-top: 1%;
    }

    .grid2 {
        grid-row: 2;
        display: flex;
    }

    .grid2>img {
        width: 19px;
        height: 14px;
        margin-right: 5%;
        margin-top: 1.4%;
    }

    .grid3 {
        grid-column: 2;
        grid-row: 1;
    }

    .grid4 {
        grid-column: 2;
        grid-row: 2;
    }

    .grid5 {
        grid-column: 2;
        grid-row: 3;
    }

    .grid6 {
        grid-column: 2;
        grid-row: 4;
    }

    .grid7 {
        grid-column: 3;
        grid-row: 1;

    }

    .grid8 {
        grid-column: 3;
        grid-row: 2;

    }

    .grid9 {
        grid-column: 3;
        grid-row: 3;
    }

    .grid10 {
        grid-column: 4;
        grid-row: 2;

    }

    .grid10>img {
        width: 40px;
        padding: 0 3px;
    }


}

@media screen and (max-width:780px) {
    /* Footer*/

    footer {
        background-color: hsl(243, 87%, 12%);
        height: 44vh;

    }


    .footer_grid {
        margin: 4%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        text-align: center;
    }

    .grid1 {
        grid-column: 1;
        display: flex;
    }

    .grid1>img {
        width: 14px;
        height: 14px;
        margin-right: 7%;
        margin-top: 1%;
    }

    .grid2 {
        grid-row: 2;
        display: flex;
    }

    .grid2>img {
        width: 19px;
        height: 14px;
        margin-right: 5%;
        margin-top: 1.4%;
    }

    .grid3 {
        grid-column: 2;
        grid-row: 1;
    }

    .grid4 {
        grid-column: 2;
        grid-row: 2;
    }

    .grid5 {
        grid-column: 2;
        grid-row: 3;
    }

    .grid6 {
        grid-column: 2;
        grid-row: 4;
    }

    .grid7 {
        grid-column: 3;
        grid-row: 1;

    }

    .grid8 {
        grid-column: 3;
        grid-row: 2;

    }

    .grid9 {
        grid-column: 3;
        grid-row: 3;
    }

    .grid10 {
        grid-column: 4;
        grid-row: 2;

    }

    .grid10>img {
        width: 40px;
        padding: 0 20px;
    }

    .white {
        color: #fff;

    }

    a {
        color: #fff;
        text-decoration: none;
    }

    .white_logo {
        filter: brightness(0) invert(1);
        padding: 30px 0 0 4%;

    }

}